body {
    margin: 0;
    text-align: center;
}
#grid {
    background-color: #0B072C;
}

svg {
    height: 100%;
    width: 100%;
}

.cell {
    fill: #BF96E4;
    /* animation: display 0.5s ease; */
}

#header {
    display: flex;
    flex-direction: column;
}

#hidden-canvas {
    position: absolute;
}

#seeds {
    display: flex;
}

img {
    margin: 1vh;
}

@keyframes display {
  0% { opacity: 0; }
  100% { opacity: 1; }
} 
