body {
    margin: 0;
    text-align: center;
    background-color: #424242;
    color: #e2e2e2;
}

a, a:hover, a:visited {
    color: #e2e2e2;
}

button, select {
    width: 10vh;
    border: 0;
    padding: 1vh 2vh;
}

select {
    width: 18vh;
}

#grid {
    background-image: linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.9));
    /* width: 100%; */
    /* height: 100%; */
}

#generation {
    padding: 2vh;
}

#svg-grid {
    height: 100%;
    width: 100%;
}

#header {
    display: flex;
    flex-direction: column;
}
#footer {
    background-color: rgba(0,0,0,0.9);
    padding: 2vh;
}

#hidden-canvas {
    position: absolute;
    z-index: -1;
}

#seeds {
    display: flex;
    justify-content: space-around;
}

#controls {
    margin: 2vh;
}

img {
    margin: 1vh;
    border: 1px solid #e2e2e2;
}

img:hover {
    border: 1px solid red;
}
